<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
    <style>
        .nav_color{
            background-color: black;
        }
    </style>
</head>

<body>
    <nav class="nav_color">
        <h1>REGISTRATION</h1>
        <ul>
            <a href="/" id="Home" class="nav_btn">Home</a>
            <a href="/signup" id="signup" class="nav_btn">Sign Up</a>
            <a href="/login" id="login" class="nav_btn">Login</a>
        </ul>
    </nav>
</body>

</html>